In [1]:
import pandas as pd

In [2]:
df_politifact=pd.read_csv("politifact_fake.csv")

In [3]:
df_politifact.head()

,id,news_url,title,tweet_ids,labels
0,politifact15014,speedtalk.com/forum/viewtopic.php?t=51650,BREAKING: First NFL Team Declares Bankruptcy O...,937349434668498944\t937379378006282240\t937380...,fake
1,politifact15156,politics2020.info/index.php/2018/03/13/court-o...,Court Orders Obama To Pay $400 Million In Rest...,972666281441878016\t972678396575559680\t972827...,fake
2,politifact14745,www.nscdscamps.org/blog/category/parenting/467...,UPDATE: Second Roy Moore Accuser Works For Mic...,929405740732870656\t929439450400264192\t929439...,fake
3,politifact14355,https://howafrica.com/oscar-pistorius-attempts...,Oscar Pistorius Attempts To Commit Suicide,886941526458347521\t887011300278194176\t887023...,fake
4,politifact15371,http://washingtonsources.org/trump-votes-for-d...,Trump Votes For Death Penalty For Being Gay,915205698212040704\t915242076681506816\t915249...,fake

In [4]:
df_politifact.shape

(505, 5)

In [5]:
df_politifact.isnull().values.any()

True

In [6]:
df_politifact.dropna(subset=["title","labels","news_url"],inplace=True)

In [7]:
df_politifact.shape

(427, 5)

In [8]:
import matplotlib.pyplot as plt

In [9]:
df=pd.read_csv("gossipcop_fake.csv")

In [10]:
df.head(n=5)

,id,news_url,title,tweet_ids,labels
0,gossipcop-2493749932,www.dailymail.co.uk/tvshowbiz/article-5874213/...,Did Miley Cyrus and Liam Hemsworth secretly ge...,284329075902926848\t284332744559968256\t284335...,fake
1,gossipcop-4580247171,hollywoodlife.com/2018/05/05/paris-jackson-car...,Paris Jackson & Cara Delevingne Enjoy Night Ou...,992895508267130880\t992897935418503169\t992899...,fake
2,gossipcop-941805037,variety.com/2017/biz/news/tax-march-donald-tru...,Celebrities Join Tax March in Protest of Donal...,853359353532829696\t853359576543920128\t853359...,fake
3,gossipcop-2547891536,www.dailymail.co.uk/femail/article-3499192/Do-...,Cindy Crawford's daughter Kaia Gerber wears a ...,988821905196158981\t988824206556172288\t988825...,fake
4,gossipcop-5476631226,variety.com/2018/film/news/list-2018-oscar-nom...,Full List of 2018 Oscar Nominations â€“ Variety,955792793632432131\t955795063925301249\t955798...,fake

In [11]:
df.shape

(5335, 5)

In [12]:
df["id"]

0       gossipcop-2493749932
1       gossipcop-4580247171
2        gossipcop-941805037
3       gossipcop-2547891536
4       gossipcop-5476631226
                ...
5330    gossipcop-6702260693
5331    gossipcop-6051845337
5332    gossipcop-2435526162
5333    gossipcop-4576152851
5334     gossipcop-919334865
Name: id, Length: 5335, dtype: object

In [13]:
df["news_url"]

0       www.dailymail.co.uk/tvshowbiz/article-5874213/...
1       hollywoodlife.com/2018/05/05/paris-jackson-car...
2       variety.com/2017/biz/news/tax-march-donald-tru...
3       www.dailymail.co.uk/femail/article-3499192/Do-...
4       variety.com/2018/film/news/list-2018-oscar-nom...
                              ...
5330    www.huffingtonpost.com/2012/09/11/september-11...
5331    www.dailymail.co.uk/news/article-4915674/NASCA...
5332    www.telegraph.co.uk/men/the-filter/7-signs-dav...
5333    www.vanityfair.com/style/2016/09/ryan-gosling-...
5334    www.lifeandstylemag.com/posts/jamie-foxx-katie...
Name: news_url, Length: 5335, dtype: object

In [14]:
len(df["title"])

5335

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5335 entries, 0 to 5334
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         5335 non-null   object
 1   news_url   5067 non-null   object
 2   title      5323 non-null   object
 3   tweet_ids  5135 non-null   object
 4   labels     5335 non-null   object
dtypes: object(5)
memory usage: 208.5+ KB

In [16]:
df.dropna(subset=["title","labels","news_url"],inplace=True)

In [17]:
df.shape

(5067, 5)

In [18]:
df_politifact_real=pd.read_csv("politifact_real.csv")

In [19]:
df_politifact_real.tail()

,id,news_url,title,tweet_ids,labels
943,politifact14731,https://www.flake.senate.gov/public/index.cfm/...,Flake: â€œReligious tests should have no place i...,NaN,real
944,politifact329,https://web.archive.org/web/20080131000131/htt...,Change We Can Believe In,634287923135909888\t946743411100536832\t946816...,real
945,politifact1576,http://www.youtube.com/watch?v=4O8CxZ1OD58,deputy director of national health statistics ...,NaN,real
946,politifact4720,http://www.youtube.com/watch?v=EhyMplwY6HY,Romneys ProLife Conversion Myth or Reality Jun...,1.89E+17,real
947,politifact52,https://web.archive.org/web/20071102131244/htt...,Interest Group Ratings,1002208963239337984\t1024651239697666048,real

In [20]:
df_politifact_real.shape

(948, 5)

In [21]:
df_gossipreal=pd.read_csv("gossipcop_real.csv")

In [22]:
df_gossipreal.shape

(16818, 5)

In [23]:
df_gossipreal.head()

,id,news_url,title,tweet_ids,labels
0,gossipcop-882573,https://www.brides.com/story/teen-mom-jenelle-...,Teen Mom Star Jenelle Evans' Wedding Dress Is ...,912371411146149888\t912371528343408641\t912372...,real
1,gossipcop-875924,https://www.dailymail.co.uk/tvshowbiz/article-...,Kylie Jenner refusing to discuss Tyga on Life ...,901989917546426369\t901989992074969089\t901990...,real
2,gossipcop-894416,https://en.wikipedia.org/wiki/Quinn_Perkins,Quinn Perkins,931263637246881792\t931265332022579201\t931265...,real
3,gossipcop-857248,https://www.refinery29.com/en-us/2018/03/19192...,I Tried Kim Kardashian's Butt Workout & Am For...,868114761723936769\t868122567910936576\t868128...,real
4,gossipcop-884684,https://www.cnn.com/2017/10/04/entertainment/c...,Celine Dion donates concert proceeds to Vegas ...,915528047004209152\t915529285171122176\t915530...,real

In [24]:
df_gossipreal.dropna(subset=["title","labels","news_url"],inplace=True)

In [25]:
df_gossipreal.shape

(16804, 5)

In [26]:
df_politifact_real.dropna(subset=["title","labels","news_url"],inplace=True)

In [27]:
df_politifact_real.shape

(567, 5)

In [28]:
import string

In [29]:
punctuation=string.punctuation

In [30]:
def remove_punc(row):
    row=row.lower()
    tokens=row.split() 
    new_tokens=[w for w in tokens if w.isalpha()]
    new_tokens=[w for w in new_tokens if w not in punctuation]
    return new_tokens

In [31]:
df_politifact=df_politifact.append(df_politifact_real)

In [32]:
df_politifact.shape

(994, 5)

In [33]:
df_gossipreal=df_gossipreal.append(df)

In [34]:
df_gossipreal.shape

(21871, 5)

In [35]:
X2=df_gossipreal["title"]+df_gossipreal["news_url"]

In [36]:
X2=pd.DataFrame(X2)

In [37]:
X2.head()

                                                   0
0  Teen Mom Star Jenelle Evans' Wedding Dress Is ...
1  Kylie Jenner refusing to discuss Tyga on Life ...
2  Quinn Perkinshttps://en.wikipedia.org/wiki/Qui...
3  I Tried Kim Kardashian's Butt Workout & Am For...
4  Celine Dion donates concert proceeds to Vegas ...

In [38]:
X2.to_csv("complete_gossipcopdataset.csv",index=False)

In [39]:
Y2=df_gossipreal["labels"]

In [40]:
Y2=pd.DataFrame(Y2)

In [41]:
Y2.to_csv("complete_gossipcoplabels.csv",index=False)

In [42]:
X1=df_politifact["title"]+df_politifact["news_url"]

In [43]:
pd.DataFrame(X1)

                                                     0
0    BREAKING: First NFL Team Declares Bankruptcy O...
1    Court Orders Obama To Pay $400 Million In Rest...
2    UPDATE: Second Roy Moore Accuser Works For Mic...
3    Oscar Pistorius Attempts To Commit Suicidehttp...
4    Trump Votes For Death Penalty For Being Gayhtt...
..                                                 ...
943  Flake: â€œReligious tests should have no place i...
944  Change We Can Believe Inhttps://web.archive.or...
945  deputy director of national health statistics ...
946  Romneys ProLife Conversion Myth or Reality Jun...
947  Interest Group Ratingshttps://web.archive.org/...

[994 rows x 1 columns]

In [44]:
X1.to_csv("complete_politifactdataset.csv",index=False)

In [45]:
Y1=df_politifact["labels"]

In [46]:
Y1=pd.DataFrame(Y1)

In [47]:
Y1.to_csv("complete_politifactlabels.csv",index=False)

In [ ]:
from nltk.tokenize import RegexpTokenizer

In [ ]:
#def remove_punct(row):
   # tokenizer=RegexpTokenizer('[a-zA-Z]+')
   # tokens=tokenizer.tokenize(row)
   # new_tokens=[w for w in tokens if w.isalpha()]
   # new_tokens=[w for w in tokens if w not in punctuation]
    #return new_tokens

In [ ]:
print(punctuation)

In [ ]:
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize,sent_tokenize
from nltk.corpus import stopwords
from nltk.corpus import sentiwordnet as swn

In [ ]:
ps=PorterStemmer()
english_stopwords=set(stopwords.words("english"))

In [ ]:
additional_words={'com','http','www','stori','wa','hi','ha','pleas'}

In [ ]:
total_stopwords=english_stopwords.union(additional_words)

In [49]:
def proc(row):
    text = [ps.stem(word) for word in row]
    text = [w for w in text if w not in total_stopwords]
    text = [w.encode('ascii', 'ignore').decode('ascii') for w in text]
    return text

In [50]:
X=X.apply(proc)

NameError: name 'X' is not defined

In [49]:
X

0        [first, nfl, team, declar, bankruptci, kneel, ...
1            [court, order, obama, pay, million, restitut]
2        [second, roy, moor, accus, work, michel, obama...
3               [oscar, pistoriu, attempt, commit, suicid]
4                       [trump, vote, death, penalti, gay]
                               ...
16813             [hollywood, film, complet, list, winner]
16814    [jada, pinkett, smith, explain, whi, son, jade...
16815          [tinsley, mortim, react, luann, de, relaps]
16816    [princ, harri, carri, princess, legaci, announ...
16817           [kyli, jenner, actual, terrifi, butterfli]
Name: title, Length: 23195, dtype: object

In [50]:
X.shape

(23195,)

In [51]:
from keras.preprocessing import sequence

Using TensorFlow backend.

In [52]:
def rejoin(ro):
    joined_text=(" ".join(ro))
    return joined_text

In [53]:
X=X.apply(rejoin)

In [54]:
X

0              first nfl team declar bankruptci kneel thug
1                   court order obama pay million restitut
2            second roy moor accus work michel obama right
3                     oscar pistoriu attempt commit suicid
4                             trump vote death penalti gay
                               ...
16813                   hollywood film complet list winner
16814        jada pinkett smith explain whi son jaden move
16815                 tinsley mortim react luann de relaps
16816    princ harri carri princess legaci announc aid ...
16817                 kyli jenner actual terrifi butterfli
Name: title, Length: 23195, dtype: object

In [55]:
import numpy as np

In [56]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

print('Indexing word vectors.')

embeddings_index = {}
with open('glove.6B.50d.txt',encoding="utf-8") as f:
    for line in f:
        values = line.split()
        word = values[0]
        coefs = np.asarray(values[1:], dtype='float32')
        embeddings_index[word] = coefs

Indexing word vectors.

In [57]:
print('Found %s word vectors.' % len(embeddings_index))

Found 400000 word vectors.

In [44]:
def embedding_output(x):
    maxLen=500
    emb_dim=50
    embedding_out=np.zeros((x.shape[0],maxLen,emb_dim))
    for ix in range(x.shape[0]):
        x[ix]=x[ix].split()
        for k in range(len(x[ix])):
            try:
                embedding_out[ix][k]=embeddings_index[x[ix][k].lower()]
            except:
                embedding_out[ix][k]=np.zeros((50,))
    return embedding_out

In [45]:
print(embeddings_index["and"])

[ 0.26818   0.14346  -0.27877   0.016257  0.11384   0.69923  -0.51332
 -0.47368  -0.33075  -0.13834   0.2702    0.30938  -0.45012  -0.4127
 -0.09932   0.038085  0.029749  0.10076  -0.25058  -0.51818   0.34558
  0.44922   0.48791  -0.080866 -0.10121  -1.3777   -0.10866  -0.23201
  0.012839 -0.46508   3.8463    0.31362   0.13643  -0.52244   0.3302
  0.33707  -0.35601   0.32431   0.12041   0.3512   -0.069043  0.36885
  0.25168  -0.24517   0.25381   0.1367   -0.31178  -0.6321   -0.25028
 -0.38097 ]

In [47]:
embedding_matrix_train=embedding_output(train)

KeyError: 39

In [58]:
Y=df_politifact["labels"]

In [59]:
Y

0        fake
1        fake
2        fake
3        fake
4        fake
         ...
16813    real
16814    real
16815    real
16816    real
16817    real
Name: labels, Length: 23195, dtype: object

In [60]:
from sklearn.preprocessing import LabelEncoder

In [61]:
import numpy as np
np.unique(Y)

array(['fake', 'real'], dtype=object)

In [62]:
le=LabelEncoder()

In [63]:
le.fit_transform(Y)

array([0, 0, 0, ..., 1, 1, 1])

In [64]:
Y=pd.DataFrame(Y)

In [65]:
Y.to_csv("labels.csv",index=False)

In [53]:
max=0
for i in range(5323):
    if (df["title"] is not None):
        a=len(df["title"][i].split())
        if(a>max):
            max=a

In [38]:
embeddings_index["hemsworth"].shape

(50,)